.section-FullService {
    height: auto;
    background-color: white;

    .FullService-container {
        height: 100%;
        margin: 0 100px;
        padding: 30px 0;


        .FullService-header {
            height: 60px;
            padding: 10px 10px 10px 30px;
            font-size: 32px;
            font-weight: 600;

        }

        .FullService-body {

            .service {
                display: flex;
                gap: 100px;
                justify-content: center;
                align-items: center;
                padding-top: 50px;


                .service-child {
                    display: flex;
                    width: 800px;
                    height: 140px;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    padding: 20px 20px;
                    border-radius: 40px;
                    background-image: url(../../../assets/Fullservice/fs-bg.png);
                    background-size: cover;

                    .child-content {
                        // margin-left: 70px;
                        width: 100%;
                        padding-top: 25px;
                        font-weight: bold;
                        font-size: 34px;
                        text-align: center;
                    }

                    .child-img1 {
                        width: 100px;
                        height: 100px;
                        background-image: url(../../../assets/Fullservice/kham-chuyen-khoa.webp);
                        background-size: 100%;
                        background-repeat: no-repeat;
                    }

                    .child-img2 {
                        width: 100px;
                        height: 100px;
                        background-image: url(../../../assets/Fullservice/kham-tu-xa.webp);
                        background-size: 100%;
                        background-repeat: no-repeat;
                    }

                    .child-img3 {
                        width: 100px;
                        height: 100px;
                        background-image: url(../../../assets/Fullservice/kham-tong-quan.webp);
                        background-size: 100%;
                        background-repeat: no-repeat;
                    }

                    .child-img4 {
                        width: 100px;
                        height: 100px;
                        background-image: url(../../../assets/Fullservice/xet-nghiem-y-hoc.webp);
                        background-size: 100%;
                        background-repeat: no-repeat;
                    }

                    .child-img5 {
                        width: 100px;
                        height: 100px;
                        background-image: url(../../../assets/Fullservice/suc-khoe-tinh-than.webp);
                        background-size: 100%;
                        background-repeat: no-repeat;
                    }

                    .child-img6 {
                        width: 100px;
                        height: 100px;
                        background-image: url(../../../assets/Fullservice/kham-nha-khoa.webp);
                        background-size: 100%;
                        background-repeat: no-repeat;
                    }

                    .child-img7 {
                        width: 100px;
                        height: 100px;
                        background-image: url(../../../assets/Fullservice/goi-phau-thuat.webp);
                        background-size: 100%;
                        background-repeat: no-repeat;
                    }

                    .child-img8 {
                        width: 100px;
                        height: 100px;
                        background-image: url(../../../assets/Fullservice/song-khoe-tieu-duong.webp);
                        background-size: 100%;
                        background-repeat: no-repeat;
                    }

                    .child-img9 {
                        width: 100px;
                        height: 100px;
                        background-image: url(../../../assets/Fullservice/bai-test-suc-khoe2.webp);
                        background-size: 100%;
                        background-repeat: no-repeat;
                    }

                    .child-img10 {
                        width: 100px;
                        height: 100px;
                        background-image: url(../../../assets/Fullservice/near-home-01.webp);
                        background-size: 100%;
                        background-repeat: no-repeat;
                    }
                }
            }
        }


    }
}

.cover {
    width: 100%;
    max-width: 2600px;
    height: auto;
    margin: 80px auto 0 auto;
}


@media only screen and (max-width: 1000px) {

    //150%
    .section-FullService {

        .FullService-container {

            .FullService-header {
                font-size: 32px;
                font-weight: 600;
                text-align: center;
            }

            .FullService-body {

                .service {
                    gap: 20px;
                    width: 980px;
                    margin-left: -90px;

                    .service-child {
                        width: 700px;

                        .child-content {
                            padding-top: 20px;
                        }
                    }
                }
            }

        }

    }

}

@media only screen and (max-width: 900px) {

    //175%
    .section-FullService {
        .FullService-container {
            .FullService-header {}

            .FullService-body {

                .service {
                    gap: 20px;
                    width: 835px;
                    margin-left: -90px;

                    .service-child {


                        .child-content {}
                    }
                }
            }

        }

    }
}

@media only screen and (max-width: 800px) {

    //200%
    .section-FullService {
        .FullService-container {

            .FullService-header {}

            .FullService-body {
                .service {
                    flex-direction: column;
                    gap: 10px;
                    width: 730px;
                    height: auto;
                    padding-top: 10px;

                    .service-child {
                        width: 700px;


                        .child-content {
                            margin-top: 20px;
                        }
                    }
                }
            }

        }

    }
}

@media only screen and (max-width: 700px) {

    //250%
    .section-FullService {
        .FullService-container {

            .FullService-header {}

            .FullService-body {
                .service {
                    gap: 10px;
                    width: 580px;

                    .service-child {
                        width: 560px;

                        .child-content {
                            margin-top: 0px;
                        }
                    }
                }
            }

        }

    }
}

@media only screen and (max-width: 500px) {

    //300%
    .section-FullService {
        .FullService-container {

            .FullService-header {
                width: 340px;
                margin-left: -20px;

            }

            .FullService-body {
                .service {
                    gap: 10px;
                    width: 480px;

                    .service-child {
                        width: 460px;

                        .child-content {
                            margin-top: 0px;
                        }
                    }
                }
            }

        }

    }
}

@media only screen and (max-width: 400px) {

    //400%
    .section-FullService {
        .FullService-container {

            .FullService-header {
                width: 340px;
                margin-left: -80px;

            }

            .FullService-body {
                .service {
                    width: 360px;

                    .service-child {
                        width: 340px;

                        .child-content {
                            margin-top: -10px;
                        }
                    }
                }
            }

        }

    }
}

@media only screen and (max-width: 300px) {

    //500%
    .section-FullService {
        .FullService-container {

            .FullService-header {
                width: 280px;
                margin-left: -90px;
                padding: 0 0;

            }

            .FullService-body {
                .service {
                    width: 280px;

                    .service-child {
                        width: 260px;

                        .child-content {
                            margin-top: -20px;
                        }

                        .child-img1,
                        .child-img2,
                        .child-img3,
                        .child-img4,
                        .child-img5,
                        .child-img6,
                        .child-img7,
                        .child-img8,
                        .child-img9,
                        .child-img10 {
                            display: none;
                        }
                    }
                }
            }

        }

    }
}